{% extends 'bookmyslot/base.html' %}

{% block content %}
<div class="container" id="homepage">

  <h3>Welcome to BookMySlot!</h3>

</div>
<div class="jumbotron">
  <h3><u>Login Instructions</u></h3>
  <p></p>
  <h4>Please use either of the credentials below:</h4>
  <p></p>
  <table class="welcome table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>test1</td>
        <td>test1bookmyslot</td>
      </tr>
      <tr>
        <td>test2</td>
        <td>test2bookmyslot</td>
      </tr>

    </tbody>
  </table>



</div>


{% endblock %}
