body
{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em
}

#about,#thanks,#homepage,#delete_form
{
  text-align: center;
  padding-top: 25px

}

#about_body
{
  text-align: center;

}

#welcome
{
  text-align: left;

}

.jumbotron
{
font-size: 1.1em;

}


td,tr
{
  text-align: center;
}

.form-inline
{
  text-align: center;
}
